<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__REPO__/.venv/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.olivetree.drip</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-i</string>
		<string>__REPO__/.venv/bin/python</string>
		<string>__REPO__/scripts/drip_worker.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>__REPO__/logs/drip.log</string>
	<key>StandardOutPath</key>
	<string>__REPO__/logs/drip.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>__REPO__</string>
</dict>
</plist>
